/* Footer */
/* #9A9483 */

  footer {
    text-align: center;
    color: #FBFBFB;
    background-color: #9A9483;
    padding: 10px 0;
    font-size: 15px;
    min-height: 44px;
    min-width: 44px;
}