.search-box {
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    min-height: 44px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #EADCA6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-box:focus {
    color: #212529;
    background-color: #fff;
    border-color: #E2C275;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(226, 194, 117, 0.25);
  }